* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2 {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.card-container {
  display: flex;
  justify-content:space-evenly;
}

.card {
  background: aliceblue;
  padding: 20px;
  border: 2px solid silver;
  border-radius: 14px;
  color: darkslategrey;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  width: 15rem;

  p {
    margin: 20px;
  }
}

.btn {
  background: #151515;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 6px 18px;
  color: whitesmoke;
  font-size: large;
}

.btn:hover {
  background: #353535;
  color: white;
  box-shadow: 2px 10px 10px #353535;
  transition: 0.3s;
}